<h1><%= @blog.title %> ~by <%= @blog.user.username %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <p><%= @blog.body %></p>
    </div>
    <div class="col-md-4">
          <%= image_tag @blog.image %>
    </div>
  </div>


  <% @posts.each do |p| %>
    <p><%= p.created_at %></p>
    <p><%= p.body %></p>
    <hr>
  <% end %>

  <hr>
  <hr>

  <% @comments.each do |c| %>
    <% u = c.user %>
    <%= image_tag u.image %>
    <h4><%= u.username %></h4>
    <p><%= c.body %></p>
  <% end %>
</div>