<h1><%= @blog.title %> ~by <%= @blog.user.username %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <p><%= @blog.body %></p>
    </div>
    <div class="col-md-4">
          <%= image_tag @blog.image %>
    </div>
    <% if should_permit? @blog %>
      <p><%= link_to 'Edit Blog', edit_blog_path(@blog) %> / 
      <%= link_to 'Delete Blog', @blog, method: :delete, data: {confirm: "Are you sure you want to delete the blog? \n All releted posts and comments will be lost!"} %></p>
    <% end %>
  </div>

  <%= link_to 'New post', new_post_path(:blog_id => @blog.id) if should_permit? @blog %>
  <%= ("<h2>This blog does not yet have any posts.</h2>".html_safe) if @blog.post.count < 1 %>
  <% @posts.each do |post| %>
    <p><%= post.created_at %></p>
    <p><%= post.body %></p>
    <% if should_permit? @blog %>
      <p><%= link_to "Edit", edit_post_path(post) %> / <%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %></p>
    <% end %>

    <hr>
  <% end %>

  <hr>
  <hr>

  <% @comments.each do |c| %>
    <% u = c.user %>
    <%= image_tag u.image %>
    <h4><%= u.username %></h4>
    <p><%= c.body %></p>
  <% end %>
</div>