<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Profile", pages_my_profile_path, class: "nav-link" %>
      </li>
      </li>
      <li class="nav-item">
        <%= link_to "Blogs", blogs_path, class: "nav-link" %>
      </li>
      </li>
      <li class="nav-item">
        <%= link_to "Donate", pages_donate_path, class: "nav-link" %>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <div id="user_avatar_div" style="background-image: url(<%= current_user.image %>);"></div>
          <div class="dropdown avatar_dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Profile', pages_my_profile_path, class: "dropdown-item" %>
              <%= link_to 'Account', edit_user_registration_path, class: "dropdown-item" %>
              <hr>
              <%= link_to 'New Blog', new_blog_path, class: "dropdown-item" %>
              <hr>
              <%= link_to 'Log-out', destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOG-IN", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "REGISTER", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </form>
  </div>
</nav>