<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
            <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= js add_gritter(flash[:notice], time: 2000)%>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
